.homeDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.logo {
    width: 20em;
    height: auto;
    position: absolute;
}