.logo {
    width: 20em;
    height: auto;
    position: absolute;
}
.Fila{
    display:flex;
    height: 92vh;
    align-items: center;
    background-image: url(./img/cintas-online.jpg);
    background-size: cover;
    background-color: transparent;
    flex-direction: column;

    font-size: 20px;
    text-align: center;

}
.divtext{
    background: black;
    opacity: .8;
    height: 70vh;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
     color: white;
}