// .moviesDesign {
//     display: flex;
//     flex-direction: column;
//     margin: 0 auto;
//     max-width: 1200px;
//     padding: 0 20px;

// }

.containerprincipal {
    background-color: rgb(0, 0, 0);
    height: 89vh;
    width: 164vw;
    display: flex;
    align-items: center;





}

.containermovie {
    background-color: rgb(0, 0, 0);
    display: flex;
    // margin: 10px;
}

.grid {

    display: flex;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
}

.bootstrap-row{
    margin:0;
}