.UserSettings{
    display: flex;
    align-items: flex-end;
}

.Navbar {
    background: gray;
    
}
.words1{
    color: antiquewhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

