.UserSettings{
    display: flex;
    align-items: flex-end;
}

.Navbar {
    background: url("https://images.hdqwalls.com/download/avengers-end-game-collage-poster-12k-72-2048x1152.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    
}
.words1{
    color: antiquewhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

