.Principal1{
    background-color: black;
    height: 83vh;
    margin-top: 70px;
  }
  
  .words{
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Edit{
    background-color: black;
    border-radius: 35px;
    border: solid 1px aqua;
  }