.container{
    justify-content: center;
    align-items: center;
}
.login-form{
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightblue;

}