.containerform{
    background-color: black;
    height: 30vh;
    box-shadow: 0 0 5px 5px white;
}
.words{
    color: wheat;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.input{
    background-color: black;
    border: none;
    cursor: pointer;
}